<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>pithub.watcher</string>
  <key>ProgramArguments</key>
  <array>
    <string>__UV__</string><string>run</string><string>--frozen</string><string>git-watcher</string>
  </array>
  <key>WorkingDirectory</key><string>__ROOT__</string>
  <!-- 평일(월=1 ~ 금=5) 20:00. 그 시각에 Mac이 잠들어 있으면 깨어난 직후 한 번 실행된다 -->
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>20</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Weekday</key><integer>2</integer><key>Hour</key><integer>20</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>20</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>20</integer><key>Minute</key><integer>0</integer></dict>
    <dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>20</integer><key>Minute</key><integer>0</integer></dict>
  </array>
  <key>StandardOutPath</key><string>__ROOT__/logs/git-watcher.log</string>
  <key>StandardErrorPath</key><string>__ROOT__/logs/git-watcher.log</string>
  <key>EnvironmentVariables</key>
  <dict><key>PATH</key><string>__HOME__/.local/bin:/usr/local/bin:/opt/homebrew/bin:/usr/bin:/bin</string></dict>
</dict>
</plist>
